* {
    border: 0;
    margin: 0;
    padding: 0;
}

html, body {
    background: #000;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

canvas {
    background: #c0c0c0;
    height: 100%;
    width: 100%;
}

#debug-output {
    bottom: 10px;
    color: #fff;
    left: 10px;
    position: absolute;
}

#debug-output pre {
    border: solid 1px #fff;
    background: rgba(255, 255, 255, 0.25);
    float: left;
    margin-left: 10px;
    padding: 10px;
    width: 300px;
    z-index: 100;
}

#debug-output hr {
    border-top: solid 1px #fff;
}

#debug-output em {
    color: #ccc;
}

#debug-output .off {
    color: #c00;
}

#debug-output .on {
    color: #0c0;
}

#debug-output br {
    clear: both;
}

#button-directional {
    background: rgba(240, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    display: block;
    position: absolute;
    z-index: 1000;
}

#button-abxy {
    bottom: 0;
    display: block;
    position: absolute;
    right: 0;
    z-index: 1000;
}

#button-abxy div {
    float: left;
}

#button-punch {
    background: rgba(0, 0, 240, 0.5);
}

#button-kick {
    background: rgba(0, 240, 0, 0.5);
}

#button-jump {
    background: rgba(240, 240, 0, 0.5);
}

#button-crouch {
    background: rgba(0, 240, 240, 0.5);
}

#button-menu {
    background: rgba(240, 0, 240, 0.5);
}
