* {
    border: 0;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

canvas {
    background: #000;
    height: 100%;
    width: 100%;
}


#debug-output {
    background: rgba(255, 255, 255, 0.25);
    border: solid 1px #fff;
    bottom: 10px;
    color: #fff;
    left: 10px;
    padding: 10px;
    position: absolute;
    width: 300px;
    z-index: 100;
}
